.result-card-style {
  background-color: rgb(231, 201, 201);
  font-size: larger;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.result-card-button {
  display: flex;
  gap: 10px;
}


.result-card-button-style {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.result-card-button-style:hover {
  cursor: pointer;
  font-weight: 500;
}

.result-card-button-style:nth-child(1):hover {
  background-color: rgb(55, 179, 55);
}

.result-card-button-style:nth-child(2):hover {
  background-color: rgb(218, 71, 71);
}

.complete-todo-content{
  text-decoration: line-through;
  color: gray;
  font-weight: 100;
}